:root {
    /* color */
    --color--white: #ffffff;
    --color--darksalmon: rgb(232, 149, 122);
    --color--wheat: rgb(245, 222, 179);

    /* border */
    --border--medium: 4px solid black;
    --border--small: 3px solid black;
    --border--radius: 20px;

    /* font size */
    --font--large: 32px;
    --font--medium: 24px;

}

body {
    text-align: center;
    font-family: 'Oleo Script', cursive;
    background-color: black;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}
.game {
    display: flex;
    flex-direction: column;
    background: url("https://pbs.twimg.com/media/FSX4_djaAAA6Gkq?format=jpg&name=4096x4096") center/cover;
    /* min-height:100%;
    min-width: 1024px; */
    /* width: 100%;
    height:100%; */
    width: 900px;
    height: 600px;
    margin: auto;
    /* position: fixed; */
    border-radius: var(--border--radius)
   
}

.game__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.game__button {
    width: 60px;
    height: 60px;
    background-color: var(--color--wheat);
    border: var(--border--medium);
    font-size: var(--font--medium);
    transition: transform 300ms ease-in;
    border-radius: 10px;
}

.game__button:hover {
    transform: scale(1.1)
}

.game__timer{
    width: 100px;
    background-color: var(--color--white);
    text-align: center;
    border: var(--border--medium);
    font-size: var(--font--large);
    margin-top: 8px;
    border-radius: var(--border--radius);
    visibility: hidden;
    user-select: none;
    cursor: auto;

}

.game__score {
    text-align: center;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    padding: 0;
    font-size: 40px;
    border-radius: 50%;
    border: var(--border--small);
    background-color: var(--color--darksalmon);
    color: var(--color--white);
    visibility: hidden;
    user-select: none;
    cursor: auto;

}

.game__field {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 90px;
    
}

.pop-up {
    display: block;
    width: 400px;
    height: 140px;
    padding: 20px;
    margin: auto;
    opacity: 0.9;
    background-color: #00000090;
    border-radius: var(--border--radius);
    color: var(--color--white); 
    text-align: center;
    transform: translateY(-150%)
}

.pop-up--hide {
    display: none;
}

.pop-up__refresh {
    width: 60px;
    height: 60px;
    font-size: var(--font--medium);
    background-color: var(--color--wheat);
    border: 2px solid black;
    border-radius: 50%;
     
}

.pop-up__message {
    display: block;
    font-size: var(--font--large);

}

.carrot,
.bug {
    transition: tranform 100ms ease-in;
}

.carrot:hover,
.bug:hover {
    transform: scale(1.1)
}